{% extends "play/layout.html" %}
{% load staticfiles %}
{% block title %}
play page
{% endblock %}


{% block content %}

<div class="ui center aligned container">

  <div class="ui stackable centered grid"><!-- START video and conceptmap  -->

    <div class="ten wide column">
      <div class="ui segment" id="video_section">
        <div class="row"><!-- START video title -->
          <h1>title</h1>
        </div><!-- END video title -->

        <div class="row video_wrapper"><!-- START video iframe tag -->
          <iframe id="video" src="//www.youtube.com/embed/bxe2T-V8XRs?enablejsapi=1&html5=1&controls=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>
        </div><!-- END video iframe tag -->

        <div class="row"><!-- START video button -->
          <button class="green ui left floated labeled icon button" id="play-button">
            <i class="play icon"></i>
            Play
          </button>
          <button class="red ui right floated labeled icon button" id="pause-button">
            <i class="pause icon"></i>
            Pause
          </button>
        </div><!-- END video button -->

      </div>
    </div>

    <div class="six wide column"><!-- START conceptmap -->
      <div class="ui segment">
        <div id="conceptmap"></div>

        <script type="text/javascript">

            // dataset만들기
            // 노드가 들어있는 데이터셋
            var nodes = new vis.DataSet();
            // 엣지가 들어있는 데이터셋
            var edges = new vis.DataSet();

            $.getJSON("{% static 'play/data/bxe2T-V8XRs.json' %}", function(json) {
              // add nodes
              for(var i = 0; i < json.nodes.length; i++){
                nodes.add({
                  id: json.nodes[i].id,
                  label: json.nodes[i].label,
                  shape: 'box'
                });
              }
              // add edges
              for(var i = 0; i < json.edges.length; i++){
                edges.add({
                  from: json.edges[i].from,
                  to: json.edges[i].to,
                  arrows:'to'
                });
              }
            });

            // id가 conceptmap인 엘리먼트 선택
            var container = document.getElementById('conceptmap');

            // data에 노드와 엣지 저장
            var data = {
                nodes: nodes,
                edges: edges
            };
            var options = {};

            // data와 option을 이용하여 container에 그래프 초기화
            var network = new vis.Network(container, data, options);


            console.log("end");
        </script>
      </div>
    </div><!-- END conceptmap -->

  </div><!-- END video and conceptmap -->



</div>

{% endblock %}
